body {
  margin: 0;
  font-family: Manrope, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  background-color: var(--black-08); }

:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Archivo", sans-serif;
  --third-family: "Inter", sans-serif;
  --absolute-white: #fff;
  --absolute-black: #000;
  --red-45: #e50000;
  --red-50: #f00;
  --red-55: #ff1a1a;
  --red-60: #f33;
  --red-80: #f99;
  --red-90: #fcc;
  --red-95: #ffe5e5;
  --red-99: #fffafa;
  --black-06: #0f0f0f;
  --black-08: #141414;
  --black-10: #1a1a1a;
  --black-12: #1f1f1f;
  --black-15: #262626;
  --black-20: #333;
  --black-25: #404040;
  --black-30: #4d4d4d;
  --grey-60: #999;
  --grey-65: #a6a6a6;
  --grey-70: #b3b3b3;
  --grey-75: #bfbfbf;
  --grey-90: #e4e4e7;
  --grey-95: #f1f1f3;
  --grey-97: #f7f7f8;
  --grey-99: #fcfcfd; }

section {
  background-color: var(--black-08); }

@media screen and (min-width: 390px) {
  main {
    min-width: 390px;
    margin: auto; } }
@media screen and (min-width: 1440px) {
  main {
    min-width: 1440px; } }
@media screen and (min-width: 1920px) {
  main {
    min-width: 1920px; } }

p {
  margin: 0; }

a {
  list-style-type: none;
  text-decoration: none;
  font-style: normal; }

address {
  text-decoration: none;
  font-style: normal; }

li {
  text-decoration: none;
  list-style-type: none; }

ul {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

button {
  padding: 0; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none; }

@keyframes shake3856 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box; }

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */ }

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */ }

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted; }

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder; }

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%; }

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */ }

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none; }

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; }

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none; }

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0; }

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline; }

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto; }

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item; }

.nav-header {
  width: 390px;
  margin: auto;
  padding: 40px 16px 14px 16px;
  display: flex;
  justify-content: space-between; }
  @media screen and (min-width: 1440px) {
    .nav-header__logo {
      display: flex;
      align-items: center; } }
  @media screen and (min-width: 1440px) {
    .nav-header {
      min-width: 1440px;
      padding: 24px 80px; } }
  @media screen and (min-width: 1920px) {
    .nav-header {
      min-width: 1920px;
      padding: 30px 162px 30px 162px; } }
  .nav-header__logo-link {
    display: flex;
    align-items: center;
    gap: 2px; }
    @media screen and (min-width: 1920px) {
      .nav-header__logo-link {
        gap: 3px; } }
  .nav-header__list {
    display: none; }
    @media screen and (min-width: 1440px) {
      .nav-header__list {
        display: flex;
        align-items: center;
        gap: 8px;
        background-color: var(--black-06);
        padding: 8px 8px 8px 8px;
        border-radius: 10px;
        border: 3px solid var(--black-12); } }
    @media screen and (min-width: 1920px) {
      .nav-header__list {
        gap: 10px;
        padding: 10px 10px 10px 10px;
        border: 4px solid var(--black-12); } }
  .nav-header .current {
    padding: 12px 20px;
    border-radius: 8px;
    background-color: var(--black-10); }
    @media screen and (min-width: 1920px) {
      .nav-header .current {
        padding: 14px 24px; } }
  .nav-header__item {
    color: var(--grey-75);
    transition: 0.5s; }
  .nav-header__link:hover {
    border-radius: 8px;
    background-color: var(--black-10); }
  .nav-header__link {
    color: var(--grey-75);
    padding: 12px 20px;
    transition: 0.5s; }
    @media screen and (min-width: 1920px) {
      .nav-header__link {
        font-size: 18px;
        padding: 14px 24px; } }
  .nav-header__btn-container {
    display: none; }
    @media screen and (min-width: 1440px) {
      .nav-header__btn-container {
        display: flex;
        align-items: center;
        gap: 14px; } }
    @media screen and (min-width: 1920px) {
      .nav-header__btn-container {
        gap: 30px; } }
  .nav-header__btn-search, .nav-header__btn-notification {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    border: none; }
    @media screen and (min-width: 1920px) {
      .nav-header__btn-search, .nav-header__btn-notification {
        width: 34px;
        height: 34px; } }
  .nav-header__mobile-open {
    width: 48px;
    height: 48px;
    border-radius: 6px;
    padding: 0;
    background-color: var(--black-10);
    border: 3px solid var(--black-15); }
    @media screen and (min-width: 1440px) {
      .nav-header__mobile-open {
        display: none; } }

.nav {
  position: absolute;
  top: 0;
  z-index: 5;
  width: 390px;
  margin: auto;
  padding: 40px 16px 14px 16px;
  display: flex;
  justify-content: space-between; }
  @media screen and (min-width: 1440px) {
    .nav__logo {
      display: flex;
      align-items: center; } }
  @media screen and (min-width: 1440px) {
    .nav {
      min-width: 1440px;
      padding: 24px 80px; } }
  @media screen and (min-width: 1920px) {
    .nav {
      min-width: 1920px;
      padding: 30px 162px 30px 162px; } }
  .nav__logo-link {
    display: flex;
    align-items: center;
    gap: 2px; }
    @media screen and (min-width: 1920px) {
      .nav__logo-link {
        gap: 3px; } }
  .nav__list {
    display: none; }
    @media screen and (min-width: 1440px) {
      .nav__list {
        display: flex;
        align-items: center;
        gap: 8px;
        background-color: var(--black-06);
        padding: 8px 8px 8px 8px;
        border-radius: 10px;
        border: 3px solid var(--black-12); } }
    @media screen and (min-width: 1920px) {
      .nav__list {
        gap: 10px;
        padding: 10px 10px 10px 10px;
        border: 4px solid var(--black-12); } }
  .nav .current {
    padding: 12px 20px;
    border-radius: 8px;
    background-color: var(--black-10); }
    @media screen and (min-width: 1920px) {
      .nav .current {
        padding: 14px 24px; } }
  .nav__item {
    color: var(--grey-75);
    transition: 0.5s; }
  .nav__link:hover {
    border-radius: 8px;
    background-color: var(--black-10); }
  .nav__link {
    color: var(--grey-75);
    padding: 12px 20px;
    transition: 0.5s; }
    @media screen and (min-width: 1920px) {
      .nav__link {
        font-size: 18px;
        padding: 14px 24px; } }
  .nav__btn-container {
    display: none; }
    @media screen and (min-width: 1440px) {
      .nav__btn-container {
        display: flex;
        align-items: center;
        gap: 14px; } }
    @media screen and (min-width: 1920px) {
      .nav__btn-container {
        gap: 30px; } }
  .nav__btn-search, .nav__btn-notification {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    border: none; }
    @media screen and (min-width: 1920px) {
      .nav__btn-search, .nav__btn-notification {
        width: 34px;
        height: 34px; } }
  .nav__mobile-open {
    width: 48px;
    height: 48px;
    border-radius: 6px;
    padding: 0;
    background-color: var(--black-10);
    border: 3px solid var(--black-15); }
    @media screen and (min-width: 1440px) {
      .nav__mobile-open {
        display: none; } }

.hero {
  position: relative;
  max-width: 390px;
  margin: auto; }
  @media screen and (min-width: 1440px) {
    .hero {
      min-width: 1440px; } }
  @media screen and (min-width: 1920px) {
    .hero {
      min-width: 1920px; } }
  .hero__fadeouttop {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 390px;
    height: 324px;
    background: linear-gradient(180deg, #141414, rgba(20, 20, 20, 0) 100%); }
    @media screen and (min-width: 1440px) {
      .hero__fadeouttop {
        width: 1440px;
        height: 581px; } }
    @media screen and (min-width: 1920px) {
      .hero__fadeouttop {
        width: 1920px;
        height: 581px; } }
  .hero__fadeoutbottom {
    position: absolute;
    z-index: 2;
    top: 176px;
    width: 390px;
    height: 444px;
    background: linear-gradient(180deg, rgba(20, 20, 20, 0), #141414 90%); }
    @media screen and (min-width: 1440px) {
      .hero__fadeoutbottom {
        width: 1440px;
        height: 581px;
        top: 118px; } }
    @media screen and (min-width: 1920px) {
      .hero__fadeoutbottom {
        width: 1920px;
        height: 651px;
        top: 279px; } }
  .hero__posters {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow: hidden; }
    @media screen and (min-width: 1920px) {
      .hero__posters {
        gap: 20px; } }
  .hero__posters-box {
    display: flex;
    gap: 10px; }
    @media screen and (min-width: 1920px) {
      .hero__posters-box {
        gap: 20px; } }
  .hero__posters-box1 {
    display: flex;
    gap: 10px; }
    @media screen and (min-width: 1920px) {
      .hero__posters-box1 {
        gap: 20px; } }
  .hero__posters-box2 {
    display: flex;
    gap: 10px; }
    @media screen and (min-width: 1920px) {
      .hero__posters-box2 {
        gap: 20px; } }
  .hero__posters-box3 {
    display: flex;
    gap: 10px; }
    @media screen and (min-width: 1920px) {
      .hero__posters-box3 {
        gap: 20px; } }
  .hero__posters-img {
    width: 134px;
    border: 1px solid black;
    border-radius: 12px; }
    @media screen and (min-width: 1440px) {
      .hero__posters-img {
        width: 151px; } }
    @media screen and (min-width: 1920px) {
      .hero__posters-img {
        width: 196px; } }
  .hero__title {
    position: absolute;
    z-index: 5;
    top: 480px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (min-width: 1440px) {
      .hero__title {
        padding: 0 150px;
        top: 599px; } }
    @media screen and (min-width: 1920px) {
      .hero__title {
        padding: 0 412px;
        top: 796px; } }
  .hero__name {
    color: var(--absolute-white);
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    line-height: 150%; }
    @media screen and (min-width: 1440px) {
      .hero__name {
        font-size: 48px; } }
    @media screen and (min-width: 1920px) {
      .hero__name {
        font-size: 58px; } }
  .hero__description {
    color: var(--grey-60);
    text-align: center;
    line-height: 150%;
    margin-top: 10px; }
    @media screen and (min-width: 1920px) {
      .hero__description {
        font-size: 18px;
        margin-top: 14px; } }
  .hero__description-more {
    display: none; }
    @media screen and (min-width: 1440px) {
      .hero__description-more {
        display: block; } }
    @media screen and (min-width: 1920px) {
      .hero__description-more {
        display: block; } }
  .hero__btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 30px;
    padding: 14px 24px;
    border-radius: 8px;
    color: var(--absolute-white);
    background-color: var(--red-45);
    border: 1px solid var(--red-45);
    box-shadow: 0 0 25px var(--red-45);
    font-family: Manrope;
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    transition: 0.5s;
    transition-property: box-shadow; }
    @media screen and (min-width: 1440px) {
      .hero__btn {
        margin-top: 40px; } }
    @media screen and (min-width: 1920px) {
      .hero__btn {
        margin-top: 50px;
        gap: 8px;
        padding: 18px 24px;
        font-size: 18px; } }
  .hero__btn:hover {
    box-shadow: 0 0 5px var(--red-45), 0 0 25px var(--red-45), 0 0 50px var(--red-45); }
  @media screen and (min-width: 1920px) {
    .hero__btn-icon {
      width: 28px;
      height: 28px; } }

.categories {
  max-width: 390px;
  margin: auto;
  padding: 180px 16px 10px 16px; }
  @media screen and (min-width: 1440px) {
    .categories {
      min-width: 1440px;
      padding: 287px 80px 60px 80px; } }
  @media screen and (min-width: 1920px) {
    .categories {
      min-width: 1920px;
      padding: 287px 162px 75px 162px; } }
  @media screen and (min-width: 1440px) {
    .categories__title {
      display: flex;
      justify-content: space-between; } }
  .categories__title-name {
    color: var(--absolute-white);
    font-size: 24px;
    font-weight: 700;
    line-height: 150%; }
    @media screen and (min-width: 1440px) {
      .categories__title-name {
        font-size: 28px; } }
    @media screen and (min-width: 1920px) {
      .categories__title-name {
        font-size: 38px; } }
  .categories__title-description {
    margin-top: 8px;
    color: var(--grey-60);
    line-height: 150%; }
    @media screen and (min-width: 1440px) {
      .categories__title-description {
        font-size: 16px;
        margin-top: 10px; } }
    @media screen and (min-width: 1920px) {
      .categories__title-description {
        font-size: 18px;
        margin-top: 14px; } }
  .categories__title-btns {
    display: none; }
    @media screen and (min-width: 1440px) {
      .categories__title-btns {
        display: flex;
        align-items: center;
        padding: 12px;
        gap: 12px;
        background-color: var(--black-06);
        border-radius: 10px;
        border: 1px solid #1f1f1f; } }
    @media screen and (min-width: 1920px) {
      .categories__title-btns {
        padding: 16px;
        gap: 16px;
        border-radius: 12px; } }
  .categories__pagination {
    display: flex; }
  .categories .swiper-pagination-bullet {
    height: 4px;
    width: 16px;
    margin-right: 3px;
    background-color: var(--black-20); }
  .categories .swiper-pagination-bullet-active {
    height: 4px;
    width: 24px;
    background-color: var(--red-45); }
  .categories__btn-prev, .categories__btn-next {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 44px;
    height: 44px;
    border-radius: 6px;
    border: 1px solid #1f1f1f;
    background: #1a1a1a; }
    @media screen and (min-width: 1920px) {
      .categories__btn-prev, .categories__btn-next {
        width: 56px;
        height: 56px; } }
  @media screen and (min-width: 1920px) {
    .categories__btn-icon {
      width: 28px;
      height: 28px; } }
  .categories__swiper {
    overflow: hidden; }
  .categories__list {
    margin-top: 40px;
    display: flex; }
    @media screen and (min-width: 1440px) {
      .categories__list {
        margin-top: 60px; } }
    @media screen and (min-width: 1920px) {
      .categories__list {
        margin-top: 80px;
        gap: 30px; } }
  .categories__item {
    width: 178px;
    padding: 20px;
    background: #1a1a1a;
    border-radius: 10px;
    border: 1px solid #262626; }
    @media screen and (min-width: 1440px) {
      .categories__item {
        padding: 24px;
        width: 240px; } }
    @media screen and (min-width: 1920px) {
      .categories__item {
        padding: 30px;
        border-radius: 12px;
        width: 296px; } }
  .categories__img {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 5px; }
  .categories__img-inner {
    display: flex; }
  .categories__film-fade {
    position: absolute;
    width: 128px;
    height: 135px;
    background: linear-gradient(180deg, rgba(26, 26, 26, 0), #1a1a1a 101.786%); }
    @media screen and (min-width: 1440px) {
      .categories__film-fade {
        width: 190px;
        height: 202px; } }
    @media screen and (min-width: 1920px) {
      .categories__film-fade {
        width: 233px;
        height: 249px; } }
  .categories__film-img {
    width: 61px;
    border-radius: 6px; }
    @media screen and (min-width: 1440px) {
      .categories__film-img {
        width: 92px; } }
    @media screen and (min-width: 1920px) {
      .categories__film-img {
        width: 113px;
        border-radius: 10px; } }
  .categories__item-title {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .categories__item-name {
    color: var(--absolute-white);
    font-weight: 600;
    line-height: 150%; }
    @media screen and (min-width: 1440px) {
      .categories__item-name {
        font-size: 16px; } }
    @media screen and (min-width: 1920px) {
      .categories__item-name {
        font-size: 16px; } }
  @media screen and (min-width: 1440px) {
    .categories__item-icon {
      width: 24px;
      height: 24px; } }
  @media screen and (min-width: 1920px) {
    .categories__item-icon {
      width: 30px;
      height: 30px; } }

.devices {
  max-width: 390px;
  margin: auto;
  padding: 40px 16px; }
  @media screen and (min-width: 1440px) {
    .devices {
      min-width: 1440px;
      padding: 60px 80px; } }
  @media screen and (min-width: 1920px) {
    .devices {
      min-width: 1920px;
      padding: 75px 162px 75px 162px; } }
  .devices__list {
    display: flex;
    flex-direction: column;
    gap: 20px; }
    @media screen and (min-width: 1440px) {
      .devices__list {
        flex-direction: inherit;
        flex-wrap: wrap; } }
    @media screen and (min-width: 1920px) {
      .devices__list {
        gap: 30px; } }
  .devices__item {
    border: 1px solid #262626;
    border-radius: 10px;
    background: linear-gradient(229.83deg, rgba(229, 0, 0, 0.5) -226.884%, rgba(229, 0, 0, 0) 38.033%), #0f0f0f;
    padding: 24px; }
    @media screen and (min-width: 1440px) {
      .devices__item {
        width: 413px;
        padding: 40px; } }
    @media screen and (min-width: 1920px) {
      .devices__item {
        width: 512px;
        padding: 50px; } }
  .devices__title {
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    text-align: left;
    margin-bottom: 10px; }
    @media screen and (min-width: 1440px) {
      .devices__title {
        font-size: 28px;
        font-weight: 700; } }
    @media screen and (min-width: 1920px) {
      .devices__title {
        font-size: 38px;
        font-weight: 700; } }
  .devices__title-description {
    color: #999999;
    line-height: 150%;
    text-align: left;
    margin-bottom: 40px; }
    @media screen and (min-width: 1440px) {
      .devices__title-description {
        font-size: 16px; } }
    @media screen and (min-width: 1920px) {
      .devices__title-description {
        font-size: 18px; } }
  .devices__item-title {
    display: flex;
    align-items: center;
    gap: 10px; }
  .devices__icon-thumb {
    width: 44px;
    height: 44px;
    border: 1px solid #1f1f1f;
    border-radius: 8px;
    background: #141414;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media screen and (min-width: 1440px) {
      .devices__icon-thumb {
        width: 54px;
        height: 54px; } }
    @media screen and (min-width: 1920px) {
      .devices__icon-thumb {
        width: 72px;
        height: 72px; } }
  .devices__icon {
    width: 24px;
    height: 24px; }
    @media screen and (min-width: 1440px) {
      .devices__icon {
        width: 30px;
        height: 30px; } }
    @media screen and (min-width: 1920px) {
      .devices__icon {
        width: 40px;
        height: 40px; } }
  .devices__name {
    color: white;
    font-size: 18px;
    font-weight: 600; }
  .devices__description {
    color: #999999;
    line-height: 150%;
    letter-spacing: 0%;
    margin-top: 20px; }
    @media screen and (min-width: 1440px) {
      .devices__description {
        font-size: 16px; } }
    @media screen and (min-width: 1920px) {
      .devices__description {
        font-size: 18px; } }

.pricing {
  max-width: 390px;
  margin: auto;
  padding: 40px 16px 40px 16px; }
  @media screen and (min-width: 1440px) {
    .pricing {
      min-width: 1440px;
      padding: 60px 80px 60px 80px; } }
  @media screen and (min-width: 1920px) {
    .pricing {
      min-width: 1920px;
      padding: 75px 162px 75px 162px; } }
  @media screen and (min-width: 1440px) {
    .pricing__title {
      display: flex;
      justify-content: space-between; } }
  .pricing__title-name {
    color: var(--absolute-white);
    font-size: 24px;
    font-weight: 700;
    line-height: 150%; }
    @media screen and (min-width: 1440px) {
      .pricing__title-name {
        font-size: 28px; } }
    @media screen and (min-width: 1920px) {
      .pricing__title-name {
        font-size: 38px; } }
  .pricing__title-description {
    margin-top: 8px;
    color: var(--grey-60);
    line-height: 150%;
    margin-bottom: 20px; }
    @media screen and (min-width: 1440px) {
      .pricing__title-description {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 0; } }
    @media screen and (min-width: 1920px) {
      .pricing__title-description {
        font-size: 18px;
        margin-top: 14px; } }
  .pricing__title-btns {
    width: 200px;
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 8px;
    border-radius: 8px;
    background-color: var(--black-06);
    border: 1px solid var(--black-15); }
    @media screen and (min-width: 1920px) {
      .pricing__title-btns {
        width: auto;
        padding: 10px;
        border-radius: 10px; } }
  .pricing__btn-month {
    cursor: pointer;
    color: var(--absolute-white);
    background-color: var(--black-06);
    border-radius: 6px;
    border: 0;
    padding: 12px 20px;
    font-weight: 500;
    line-height: 150%;
    transition: 0.5s; }
    @media screen and (min-width: 1920px) {
      .pricing__btn-month {
        font-size: 18px;
        border-radius: 10px;
        padding: 14px 24px; } }
  .pricing__btn-month:hover {
    background-color: var(--black-12); }
  .pricing .current {
    background-color: var(--black-12); }
  .pricing__btn-year {
    cursor: pointer;
    color: var(--absolute-white);
    background-color: var(--black-06);
    border-radius: 6px;
    border: 0;
    padding: 12px 20px;
    font-weight: 500;
    line-height: 150%;
    transition: 0.5s; }
    @media screen and (min-width: 1920px) {
      .pricing__btn-year {
        font-size: 18px;
        border-radius: 10px;
        padding: 14px 24px; } }
  .pricing__btn-year:hover {
    background-color: var(--black-12); }
  .pricing__list {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px; }
    @media screen and (min-width: 1440px) {
      .pricing__list {
        margin-top: 60px;
        flex-direction: inherit; } }
    @media screen and (min-width: 1920px) {
      .pricing__list {
        margin-top: 80px;
        gap: 30px; } }
  .pricing__item {
    padding: 24px;
    border: 1px solid var(--black-15);
    border-radius: 10px;
    background-color: var(--black-10); }
    @media screen and (min-width: 1440px) {
      .pricing__item {
        padding: 40px; } }
    @media screen and (min-width: 1920px) {
      .pricing__item {
        padding: 50px;
        border-radius: 12px; } }
  .pricing__item-plan {
    color: var(--absolute-white);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px; }
    @media screen and (min-width: 1440px) {
      .pricing__item-plan {
        font-size: 20px;
        margin-bottom: 12px; } }
    @media screen and (min-width: 1920px) {
      .pricing__item-plan {
        font-size: 24px;
        margin-bottom: 16px; } }
  .pricing__item-description {
    color: var(--grey-60);
    line-height: 150%;
    margin-bottom: 20px; }
    @media screen and (min-width: 1440px) {
      .pricing__item-description {
        font-size: 16px;
        margin-bottom: 40px; } }
    @media screen and (min-width: 1920px) {
      .pricing__item-description {
        font-size: 18px;
        margin-bottom: 50px; } }
  .pricing__item-price {
    color: var(--absolute-white);
    font-size: 24px;
    font-weight: 600;
    line-height: 73%; }
    @media screen and (min-width: 1440px) {
      .pricing__item-price {
        font-size: 30px; } }
    @media screen and (min-width: 1920px) {
      .pricing__item-price {
        font-size: 40px; } }
  .pricing__item-month {
    color: var(--grey-60);
    font-size: 14px;
    font-weight: 500;
    line-height: 73%; }
    @media screen and (min-width: 1440px) {
      .pricing__item-month {
        font-size: 16px; } }
    @media screen and (min-width: 1920px) {
      .pricing__item-month {
        font-size: 18px; } }
  .pricing__item-btns {
    margin-top: 30px;
    display: flex;
    gap: 12px; }
    @media screen and (min-width: 1440px) {
      .pricing__item-btns {
        margin-top: 40px; } }
    @media screen and (min-width: 1920px) {
      .pricing__item-btns {
        margin-top: 50px;
        gap: 20px; } }
  .pricing__item-start-btn {
    cursor: pointer;
    padding: 14px 20px;
    color: var(--absolute-white);
    font-weight: 600;
    line-height: 150%;
    border: 1px solid var(--black-15);
    border-radius: 6px;
    background: var(--black-08);
    transition: 0.5s; }
    @media screen and (min-width: 1920px) {
      .pricing__item-start-btn {
        padding: 18px 24px;
        border-radius: 8px;
        font-size: 18px; } }
  .pricing__item-start-btn:hover {
    color: var(--absolute-white);
    border: 1px solid var(--red-45);
    background: var(--red-45); }
  .pricing__item-choose-btn {
    cursor: pointer;
    padding: 14px 20px;
    color: var(--absolute-white);
    font-weight: 600;
    line-height: 150%;
    border: 1px solid var(--black-15);
    border-radius: 6px;
    background: var(--black-08);
    transition: 0.5s; }
    @media screen and (min-width: 1920px) {
      .pricing__item-choose-btn {
        padding: 18px 24px;
        border-radius: 8px;
        font-size: 18px; } }
  .pricing__item-choose-btn:hover {
    color: var(--absolute-white);
    border: 1px solid var(--red-45);
    background: var(--red-45); }

.cta {
  max-width: 390px;
  margin: auto;
  padding: 40px 16px 80px 16px; }
  @media screen and (min-width: 1440px) {
    .cta {
      min-width: 1440px;
      padding: 60px 80px 120px 80px; } }
  @media screen and (min-width: 1920px) {
    .cta {
      min-width: 1920px;
      padding: 75px 162px 150px 162px; } }
  .cta__posters {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    border: 1px solid var(--black-15);
    border-radius: 12px;
    background-color: var(--black-06); }
  .cta__posters-box, .cta__posters-box1, .cta__posters-box2, .cta__posters-box3 {
    display: flex;
    gap: 20px; }
  .cta__posters-img:nth-child(n+6) {
    display: none; }
    @media screen and (min-width: 1440px) {
      .cta__posters-img:nth-child(n+6) {
        display: block; } }
  @media screen and (min-width: 1440px) {
    .cta__posters-img:nth-child(-n + 2) {
      display: block; } }
  .cta__fade-out-left {
    position: absolute;
    z-index: 1;
    width: 1283px;
    height: 646px;
    background: linear-gradient(180deg, #0f0f0f, rgba(20, 15, 15, 0.97) 29.279%, rgba(34, 14, 14, 0.91) 58.559%, rgba(229, 0, 0, 0) 87.838%); }
    @media screen and (min-width: 1440px) {
      .cta__fade-out-left {
        width: 1283px;
        height: 344px;
        background: linear-gradient(90deg, #0f0f0f 2.402%, rgba(20, 15, 15, 0.97) 25.449%, rgba(34, 14, 14, 0.91) 46.722%, rgba(229, 0, 0, 0) 169.046%); } }
    @media screen and (min-width: 1920px) {
      .cta__fade-out-left {
        width: 1646px; } }
  .cta__container {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (min-width: 1440px) {
      .cta__container {
        width: 1163px;
        top: 120px;
        left: 60px;
        justify-content: space-between;
        flex-direction: row; } }
    @media screen and (min-width: 1920px) {
      .cta__container {
        width: 1436px;
        top: 100px;
        left: 80px; } }
  .cta__title-name {
    text-align: center;
    color: var(--absolute-white);
    font-size: 24px;
    font-weight: 700;
    line-height: 150%; }
    @media screen and (min-width: 1440px) {
      .cta__title-name {
        text-align: start;
        font-size: 28px; } }
    @media screen and (min-width: 1920px) {
      .cta__title-name {
        font-size: 48px; } }
  .cta__title-description {
    text-align: center;
    margin-top: 10px;
    color: var(--grey-60);
    line-height: 150%; }
    @media screen and (min-width: 1440px) {
      .cta__title-description {
        text-align: start;
        font-size: 16px; } }
    @media screen and (min-width: 1920px) {
      .cta__title-description {
        font-size: 18px;
        margin-top: 14px; } }
  .cta__btn {
    width: auto;
    margin-top: 50px;
    cursor: pointer;
    padding: 14px 20px;
    color: var(--absolute-white);
    font-weight: 600;
    line-height: 150%;
    border-radius: 6px;
    border: 1px solid var(--red-45);
    background: var(--red-45);
    box-shadow: 0 0 25px var(--red-45);
    transition: 0.5s;
    transition-property: box-shadow; }
    @media screen and (min-width: 1440px) {
      .cta__btn {
        border-radius: 8px;
        margin-top: 0; } }
    @media screen and (min-width: 1920px) {
      .cta__btn {
        padding: 18px 24px;
        font-size: 18px; } }
  .cta__btn:hover {
    box-shadow: 0 0 5px var(--red-45), 0 0 25px var(--red-45), 0 0 50px var(--red-45); }

.footer {
  max-width: 390px;
  margin: auto;
  padding: 50px 16px 20px 16px;
  background-color: var(--black-06); }
  @media screen and (min-width: 1440px) {
    .footer {
      min-width: 1440px;
      padding: 80px 80px 60px 80px; } }
  @media screen and (min-width: 1920px) {
    .footer {
      min-width: 1920px;
      padding: 100px 162px 50px 162px; } }
  .footer__nav {
    border-bottom: 1px solid var(--black-15);
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px; }
    @media screen and (min-width: 1440px) {
      .footer__nav {
        padding-bottom: 80px; } }
    @media screen and (min-width: 1920px) {
      .footer__nav {
        padding-bottom: 100px; } }
  @media screen and (min-width: 1440px) {
    .footer__list {
      margin-right: 20px; } }
  @media screen and (min-width: 1920px) {
    .footer__list {
      margin-right: 30px; } }
  .footer__item {
    width: 179px;
    margin-bottom: 8px; }
    @media screen and (min-width: 1440px) {
      .footer__item {
        margin-bottom: 10px;
        width: 197px; } }
    @media screen and (min-width: 1920px) {
      .footer__item {
        margin-bottom: 14px;
        width: 241px; } }
  .footer__item:first-child {
    margin-bottom: 16px; }
    @media screen and (min-width: 1440px) {
      .footer__item:first-child {
        margin-bottom: 20px; } }
    @media screen and (min-width: 1920px) {
      .footer__item:first-child {
        margin-bottom: 24px; } }
  .footer__item:last-child {
    margin-bottom: 30px; }
    @media screen and (min-width: 1440px) {
      .footer__item:last-child {
        margin-bottom: 0; } }
  .footer__link {
    color: var(--grey-60);
    font-weight: 500;
    line-height: 150%; }
    @media screen and (min-width: 1440px) {
      .footer__link {
        font-size: 16px; } }
    @media screen and (min-width: 1920px) {
      .footer__link {
        font-size: 18px; } }
  .footer__link:hover {
    color: var(--absolute-white); }
  .footer__link-main {
    color: var(--absolute-white);
    font-size: 16px;
    font-weight: 600;
    line-height: 150%; }
    @media screen and (min-width: 1440px) {
      .footer__link-main {
        font-size: 18px; } }
    @media screen and (min-width: 1920px) {
      .footer__link-main {
        font-size: 20px; } }
  .footer__socials-title {
    color: var(--absolute-white);
    font-size: 16px;
    font-weight: 600;
    line-height: 150%; }
    @media screen and (min-width: 1440px) {
      .footer__socials-title {
        font-size: 18px;
        margin-bottom: 20px; } }
  .footer__socials-container {
    display: flex;
    gap: 10px; }
    @media screen and (min-width: 1920px) {
      .footer__socials-container {
        gap: 14px; } }
  .footer__socials-box {
    border: 1px solid var(--black-15);
    border-radius: 6px;
    background-color: var(--black-10);
    width: 44px;
    height: 44px;
    padding: 12px; }
    @media screen and (min-width: 1920px) {
      .footer__socials-box {
        width: 56px;
        height: 56px;
        padding: 16px; } }
  @media screen and (min-width: 1920px) {
    .footer__socials-facebook-icon {
      width: 24px;
      height: 24px; } }
  .footer__rights {
    margin-top: 20px; }
    @media screen and (min-width: 1440px) {
      .footer__rights {
        display: flex;
        justify-content: space-between; } }
    @media screen and (min-width: 1920px) {
      .footer__rights {
        margin-top: 24px; } }
  .footer__rights-title {
    color: var(--grey-60);
    margin-bottom: 20px; }
    @media screen and (min-width: 1440px) {
      .footer__rights-title {
        margin-bottom: 0; } }
    @media screen and (min-width: 1920px) {
      .footer__rights-title {
        font-size: 18px; } }
  .footer__rights-list {
    display: flex; }
  .footer__rights-item {
    padding: 0 16px;
    border-right: 1px solid var(--black-15); }
    @media screen and (min-width: 1920px) {
      .footer__rights-item {
        padding: 0 20px; } }
  .footer__rights-item:first-child {
    padding-left: 0; }
  .footer__rights-item:last-child {
    padding-right: 0;
    border-right: 0; }
  .footer__rights-link {
    color: var(--grey-60); }
    @media screen and (min-width: 1920px) {
      .footer__rights-link {
        font-size: 18px; } }
  .footer__rights-link:hover {
    color: var(--absolute-white); }

.vsc {
  width: 390px;
  margin: auto;
  padding: 40px 16px 30px 16px; }
  @media screen and (min-width: 1440px) {
    .vsc {
      min-width: 1440px;
      padding: 40px 80px; } }
  @media screen and (min-width: 1920px) {
    .vsc {
      min-width: 1920px;
      padding: 50px 162px; } }
  .vsc__container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 24px 24px 16px 24px;
    border-radius: 12px;
    height: 468px;
    background-image: linear-gradient(0deg, #141414, rgba(20, 20, 20, 0) 100%), url(/images/kantara.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
    @media screen and (min-width: 1440px) {
      .vsc__container {
        padding: 40px 40px 16px 40px;
        height: 709px; } }
    @media screen and (min-width: 1920px) {
      .vsc__container {
        padding: 50px 50px 20px 50px;
        height: 835px; } }
  .vsc__title-name {
    text-align: center;
    color: var(--absolute-white);
    font-size: 24px;
    font-weight: 700;
    line-height: 150%; }
    @media screen and (min-width: 1440px) {
      .vsc__title-name {
        font-size: 30px; } }
    @media screen and (min-width: 1920px) {
      .vsc__title-name {
        font-size: 38px; } }
  .vsc__title-description {
    display: none;
    text-align: center;
    color: var(--grey-60);
    font-size: 16px;
    line-height: 150%; }
    @media screen and (min-width: 1440px) {
      .vsc__title-description {
        display: block;
        margin-top: 2px; } }
    @media screen and (min-width: 1920px) {
      .vsc__title-description {
        font-size: 18px;
        margin-top: 4px; } }
  .vsc__btns {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px; }
    @media screen and (min-width: 1440px) {
      .vsc__btns {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 24px; } }
    @media screen and (min-width: 1920px) {
      .vsc__btns {
        margin-top: 30px; } }
  .vsc__btns-play {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;
    background-color: var(--red-45);
    border: 1px solid var(--red-45);
    color: var(--absolute-white);
    border-radius: 8px;
    padding: 14px 20px;
    font-weight: 600;
    line-height: 153%;
    box-shadow: 0 0 25px var(--red-45);
    transition: 0.5s;
    transition-property: box-shadow; }
    @media screen and (min-width: 1920px) {
      .vsc__btns-play {
        font-size: 18px; } }
  .vsc__btns-play:hover {
    box-shadow: 0 0 5px var(--red-45), 0 0 25px var(--red-45), 0 0 50px var(--red-45); }
  @media screen and (min-width: 1920px) {
    .vsc__btns-play-icon {
      width: 28px;
      height: 28px; } }
  .vsc__btns-container {
    display: flex;
    justify-content: center;
    gap: 8px; }
    @media screen and (min-width: 1920px) {
      .vsc__btns-container {
        gap: 10px; } }
  .vsc__btns-add, .vsc__btns-like, .vsc__btns-voice {
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--black-06);
    border: 1px solid var(--black-15);
    padding: 12px; }
    @media screen and (min-width: 1920px) {
      .vsc__btns-add, .vsc__btns-like, .vsc__btns-voice {
        width: 56px;
        height: 56px; } }
  @media screen and (min-width: 1920px) {
    .vsc__btns-add-icon, .vsc__btns-like-icon, .vsc__btns-add-voice {
      width: 28px;
      height: 28px; } }

.info {
  width: 390px;
  margin: auto;
  padding: 30px 16px 40px 16px; }
  @media screen and (min-width: 1440px) {
    .info {
      min-width: 1440px;
      padding: 40px 80px 60px 80px;
      display: flex;
      gap: 20px; } }
  @media screen and (min-width: 1920px) {
    .info {
      min-width: 1920px;
      padding: 50px 162px 75px 162px; } }
  @media screen and (min-width: 1920px) and (min-width: 1920px) {
    .info {
      gap: 30px; } }

  .info__container {
    display: flex;
    flex-direction: column;
    gap: 20px; }
    @media screen and (min-width: 1920px) {
      .info__container {
        gap: 30px; } }
  .info__description {
    background-color: var(--black-10);
    border: 1px solid var(--black-15);
    border-radius: 10px;
    padding: 24px; }
    @media screen and (min-width: 1440px) {
      .info__description {
        padding: 40px; } }
    @media screen and (min-width: 1920px) {
      .info__description {
        padding: 50px; } }
  .info__description-name {
    color: var(--grey-60);
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 8px; }
    @media screen and (min-width: 1440px) {
      .info__description-name {
        font-size: 16px;
        margin-bottom: 10px; } }
    @media screen and (min-width: 1920px) {
      .info__description-name {
        font-size: 18px;
        margin-bottom: 14px; } }
  .info__description-text {
    color: var(--absolute-white);
    font-weight: 500;
    line-height: 150%; }
    @media screen and (min-width: 1440px) {
      .info__description-text {
        font-size: 16px; } }
    @media screen and (min-width: 1920px) {
      .info__description-text {
        font-size: 18px; } }
  .info__details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;
    border-radius: 10px;
    background-color: var(--black-10);
    border: 1px solid var(--black-15); }
    @media screen and (min-width: 1440px) {
      .info__details {
        display: none; } }
  .info__details-390 {
    display: none;
    padding: 40px;
    border-radius: 10px;
    background-color: var(--black-10);
    border: 1px solid var(--black-15); }
    @media screen and (min-width: 1440px) {
      .info__details-390 {
        display: flex;
        flex-direction: column;
        gap: 24px;
        height: 760px; } }
    @media screen and (min-width: 1920px) {
      .info__details-390 {
        padding: 50px;
        gap: 30px;
        height: 970px; } }
  .info__details-flex {
    display: flex; }
  .info__details-icon {
    margin-right: 4.5px; }
    @media screen and (min-width: 1920px) {
      .info__details-icon {
        margin-right: 7px;
        height: 24px;
        width: 24px; } }
  .info__details-year-name, .info__details-lang-name, .info__details-rating-name, .info__details-genres-name, .info__details-director-name, .info__details-music-name {
    margin-bottom: 10px;
    color: var(--grey-60);
    font-weight: 500;
    line-height: 150%; }
    @media screen and (min-width: 1440px) {
      .info__details-year-name, .info__details-lang-name, .info__details-rating-name, .info__details-genres-name, .info__details-director-name, .info__details-music-name {
        font-size: 16px; } }
    @media screen and (min-width: 1920px) {
      .info__details-year-name, .info__details-lang-name, .info__details-rating-name, .info__details-genres-name, .info__details-director-name, .info__details-music-name {
        font-size: 18px;
        margin-bottom: 14px; } }
  .info__details-year-num {
    color: var(--absolute-white);
    font-size: 16px;
    font-weight: 600;
    line-height: 150%; }
    @media screen and (min-width: 1920px) {
      .info__details-year-num {
        font-size: 20px; } }
  .info__details-lang-list, .info__details-genres-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; }
  .info__details-lang-item, .info__details-genres-item {
    padding: 6px 12px;
    border-radius: 6px;
    color: var(--absolute-white);
    background-color: var(--black-08);
    border: 1px solid var(--black-15);
    font-weight: 500;
    line-height: 150%; }
    @media screen and (min-width: 1920px) {
      .info__details-lang-item, .info__details-genres-item {
        padding: 8px 14px;
        border-radius: 8px;
        font-size: 18px; } }
  .info__details-rating-imdb {
    margin-right: 16px; }
    @media screen and (min-width: 1920px) {
      .info__details-rating-imdb {
        margin-right: 20px; } }
  .info__details-rating-imdb, .info__details-rating-streamvibe {
    padding: 12px;
    border-radius: 8px;
    background-color: var(--black-08);
    border: 1px solid var(--black-15); }
    @media screen and (min-width: 1920px) {
      .info__details-rating-imdb, .info__details-rating-streamvibe {
        padding: 16px; } }
  .info__details-rating-imdb-name, .info__details-rating-streamvibe-name {
    color: var(--absolute-white);
    font-weight: 600;
    line-height: 150%; }
    @media screen and (min-width: 1440px) {
      .info__details-rating-imdb-name, .info__details-rating-streamvibe-name {
        font-size: 16px;
        margin-bottom: 5.5px; } }
    @media screen and (min-width: 1920px) {
      .info__details-rating-imdb-name, .info__details-rating-streamvibe-name {
        font-size: 20px;
        margin-bottom: 7px; } }
  .info__rating-stars {
    display: flex;
    gap: 2px; }
  .info__rating-icon-imdb {
    fill: var(--red-45); }
    @media screen and (min-width: 1920px) {
      .info__rating-icon-imdb {
        width: 24px;
        height: 24px; } }
  .info__rating-icon-imdb:nth-child(5) {
    fill: var(--grey-60); }
  .info__rating-icon-streamvibe {
    fill: var(--red-45); }
    @media screen and (min-width: 1920px) {
      .info__rating-icon-streamvibe {
        width: 24px;
        height: 24px; } }
  .info__rating-icon-streamvibe:nth-child(5) {
    fill: var(--grey-60); }
  .info__details-rating-num {
    color: var(--absolute-white);
    font-weight: 500;
    line-height: 150%; }
    @media screen and (min-width: 1920px) {
      .info__details-rating-num {
        font-size: 20px; } }
  .info__details-director-box, .info__details-music-box {
    display: flex;
    padding: 10px;
    gap: 8px;
    border-radius: 8px;
    background-color: var(--black-08);
    border: 1px solid var(--black-15); }
    @media screen and (min-width: 1920px) {
      .info__details-director-box, .info__details-music-box {
        padding: 14px;
        gap: 10px; } }
  .info__details-director-photo, .info__details-music-photo {
    height: 60px; }
  .info__details-director-avtor, .info__details-music-avtor {
    color: var(--absolute-white);
    font-size: 16px;
    font-weight: 500;
    line-height: 150%; }
    @media screen and (min-width: 1920px) {
      .info__details-director-avtor, .info__details-music-avtor {
        font-size: 18px; } }
  .info__details-country {
    color: var(--grey-60);
    font-weight: 500;
    line-height: 150%; }
    @media screen and (min-width: 1920px) {
      .info__details-country {
        font-size: 16px; } }
  .info__cast {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    border-radius: 10px;
    background-color: var(--black-10);
    border: 1px solid var(--black-15); }
    @media screen and (min-width: 1440px) {
      .info__cast {
        padding: 40px;
        gap: 20px; } }
    @media screen and (min-width: 1920px) {
      .info__cast {
        padding: 50px;
        gap: 30px; } }
  .info__cast-title {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .info__cast-title-name {
    color: var(--grey-60);
    font-weight: 500;
    line-height: 150%; }
    @media screen and (min-width: 1440px) {
      .info__cast-title-name {
        font-size: 16px; } }
    @media screen and (min-width: 1920px) {
      .info__cast-title-name {
        font-size: 18px; } }
  .info__cast-btns {
    display: flex;
    gap: 8px; }
    @media screen and (min-width: 1920px) {
      .info__cast-btns {
        gap: 10px; } }
  .info__cast-btn-right, .info__cast-btn-left {
    cursor: pointer;
    padding: 12px;
    width: 44px;
    height: 44px;
    border-radius: 100px;
    background-color: var(--black-08);
    border: 1px solid var(--black-15); }
    @media screen and (min-width: 1920px) {
      .info__cast-btn-right, .info__cast-btn-left {
        padding: 14px;
        width: 52px;
        height: 52px; } }
  @media screen and (min-width: 1920px) {
    .info__cast-btn-icon {
      width: 24px;
      height: 24px; } }
  .info__cast-actors-list {
    display: flex;
    gap: 10px;
    overflow: hidden; }
    @media screen and (min-width: 1920px) {
      .info__cast-actors-list {
        gap: 20px; } }
  .info__cast-actors-img {
    width: 70px;
    border-radius: 10px; }
    @media screen and (min-width: 1440px) {
      .info__cast-actors-img {
        width: 92px; } }
    @media screen and (min-width: 1920px) {
      .info__cast-actors-img {
        width: 105px; } }
  .info__reviews {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    border-radius: 10px;
    background-color: var(--black-10);
    border: 1px solid var(--black-15); }
    @media screen and (min-width: 1440px) {
      .info__reviews {
        padding: 40px;
        gap: 30px; } }
    @media screen and (min-width: 1920px) {
      .info__reviews {
        padding: 50px;
        gap: 40px; } }
  .info__reviews-title {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .info__reviews-title-name {
    color: var(--grey-60);
    font-weight: 500;
    line-height: 150%; }
    @media screen and (min-width: 1440px) {
      .info__reviews-title-name {
        font-size: 16px; } }
    @media screen and (min-width: 1920px) {
      .info__reviews-title-name {
        font-size: 18px; } }
  .info__reviews-title-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 12px;
    border-radius: 6px;
    line-height: 153%;
    color: var(--absolute-white);
    background-color: var(--black-08);
    border: 1px solid var(--black-15); }
    @media screen and (min-width: 1920px) {
      .info__reviews-title-btn {
        padding: 14px;
        border-radius: 8px;
        font-size: 18px; } }
  .info__reviews-title-btn-icon {
    width: 30px;
    height: 30px; }
  .info__reviews-cards {
    display: flex;
    gap: 16px; }
    @media screen and (min-width: 1920px) {
      .info__reviews-cards {
        gap: 20px; } }
  .info__reviews-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    background-color: var(--black-06);
    border: 1px solid var(--black-15);
    border-radius: 12px; }
    @media screen and (min-width: 1920px) {
      .info__reviews-card {
        padding: 40px;
        gap: 20px; } }
  .info__reviews-card:nth-child(n+2) {
    display: none; }
    @media screen and (min-width: 1440px) {
      .info__reviews-card:nth-child(n+2) {
        display: block; } }
  .info__reviews-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .info__reviews-card-user-name {
    color: var(--absolute-white);
    font-size: 16px;
    font-weight: 500;
    line-height: 150%; }
    @media screen and (min-width: 1440px) {
      .info__reviews-card-user-name {
        font-size: 18px; } }
    @media screen and (min-width: 1920px) {
      .info__reviews-card-user-name {
        font-size: 20px; } }
  .info__reviews-card-user-country {
    color: var(--grey-60);
    font-weight: 500;
    line-height: 150%; }
    @media screen and (min-width: 1440px) {
      .info__reviews-card-user-country {
        font-size: 16px; } }
    @media screen and (min-width: 1920px) {
      .info__reviews-card-user-country {
        font-size: 18px; } }
  .info__reviews-card-user-rate {
    display: flex;
    align-items: center;
    gap: 1px;
    border-radius: 51px;
    padding: 4px 8px;
    background-color: var(--black-08);
    border: 1px solid var(--black-15); }
    @media screen and (min-width: 1920px) {
      .info__reviews-card-user-rate {
        padding: 6px 10px;
        gap: 2px; } }
  .info__reviews-card-icon {
    fill: var(--red-45); }
    @media screen and (min-width: 1920px) {
      .info__reviews-card-icon {
        width: 18px;
        height: 18px; } }
  .info__reviews-card-icon:nth-child(5) {
    fill: var(--grey-60); }
  .info__reviews-card-icon2 {
    fill: var(--red-45); }
    @media screen and (min-width: 1920px) {
      .info__reviews-card-icon2 {
        width: 18px;
        height: 18px; } }
  .info__reviews-card-num {
    color: var(--grey-60);
    font-weight: 500;
    line-height: 150%; }
    @media screen and (min-width: 1920px) {
      .info__reviews-card-num {
        font-size: 18px; } }
  .info__reviews-card-text {
    color: var(--grey-60);
    line-height: 150%; }
    @media screen and (min-width: 1440px) {
      .info__reviews-card-text {
        font-size: 16px; } }
    @media screen and (min-width: 1920px) {
      .info__reviews-card-text {
        font-size: 18px; } }
  .info__reviews-btns {
    display: flex;
    gap: 10px;
    justify-content: center; }
  .info__reviews-pagination {
    display: flex;
    gap: 3px;
    align-items: center; }
  .info__reviews-pagination-span {
    display: flex;
    height: 4px;
    width: 16px;
    border-radius: 100px;
    background-color: var(--black-20); }
  .info__reviews-pagination-span:first-child {
    width: 22px;
    background-color: var(--red-45); }
  .info__reviews-btn-right, .info__reviews-btn-left {
    padding: 12px;
    cursor: pointer;
    width: 44px;
    height: 44px;
    border-radius: 100px;
    background-color: var(--black-08);
    border: 1px solid var(--black-15); }
    @media screen and (min-width: 1920px) {
      .info__reviews-btn-right, .info__reviews-btn-left {
        width: 52px;
        height: 52px;
        padding: 14px; } }
  @media screen and (min-width: 1920px) {
    .info__reviews-btn-icon {
      width: 24px;
      height: 24px; } }

/*# sourceMappingURL=main.css.map */
