body {
  margin: 0;
  font-family: Manrope, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  background-color: var(--black-08); }

:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Archivo", sans-serif;
  --third-family: "Inter", sans-serif;
  --absolute-white: #fff;
  --absolute-black: #000;
  --red-45: #e50000;
  --red-50: #f00;
  --red-55: #ff1a1a;
  --red-60: #f33;
  --red-80: #f99;
  --red-90: #fcc;
  --red-95: #ffe5e5;
  --red-99: #fffafa;
  --black-06: #0f0f0f;
  --black-08: #141414;
  --black-10: #1a1a1a;
  --black-12: #1f1f1f;
  --black-15: #262626;
  --black-20: #333;
  --black-25: #404040;
  --black-30: #4d4d4d;
  --grey-60: #999;
  --grey-65: #a6a6a6;
  --grey-70: #b3b3b3;
  --grey-75: #bfbfbf;
  --grey-90: #e4e4e7;
  --grey-95: #f1f1f3;
  --grey-97: #f7f7f8;
  --grey-99: #fcfcfd; }

section {
  background-color: var(--black-08); }

@media screen and (min-width: 390px) {
  main {
    min-width: 390px;
    margin: auto; } }
@media screen and (min-width: 1440px) {
  main {
    min-width: 1440px; } }
@media screen and (min-width: 1920px) {
  main {
    min-width: 1920px; } }

p {
  margin: 0; }

a {
  list-style-type: none;
  text-decoration: none;
  font-style: normal; }

address {
  text-decoration: none;
  font-style: normal; }

li {
  text-decoration: none;
  list-style-type: none; }

ul {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

button {
  padding: 0; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none; }

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box; }

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */ }

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */ }

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted; }

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder; }

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%; }

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */ }

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none; }

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; }

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none; }

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0; }

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline; }

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto; }

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item; }

.nav {
  position: absolute;
  top: 0;
  z-index: 5;
  width: 390px;
  margin: auto;
  padding: 40px 16px 14px 16px;
  display: flex;
  justify-content: space-between; }
  @media screen and (min-width: 1440px) {
    .nav__logo {
      display: flex;
      align-items: center; } }
  @media screen and (min-width: 1440px) {
    .nav {
      min-width: 1440px;
      padding: 24px 80px; } }
  @media screen and (min-width: 1920px) {
    .nav {
      min-width: 1920px;
      padding: 30px 162px 30px 162px; } }
  .nav__logo-link {
    display: flex;
    align-items: center;
    gap: 2px; }
    @media screen and (min-width: 1920px) {
      .nav__logo-link {
        gap: 3px; } }
  .nav__list {
    display: none; }
    @media screen and (min-width: 1440px) {
      .nav__list {
        display: flex;
        align-items: center;
        gap: 8px;
        background-color: var(--black-06);
        padding: 8px 8px 8px 8px;
        border-radius: 10px;
        border: 3px solid var(--black-12); } }
    @media screen and (min-width: 1920px) {
      .nav__list {
        gap: 10px;
        padding: 10px 10px 10px 10px;
        border: 4px solid var(--black-12); } }
  .nav .current {
    padding: 12px 20px;
    border-radius: 8px;
    background-color: var(--black-10); }
    @media screen and (min-width: 1920px) {
      .nav .current {
        padding: 14px 24px; } }
  .nav__item {
    color: var(--grey-75);
    padding: 12px 20px; }
    @media screen and (min-width: 1920px) {
      .nav__item {
        padding: 14px 24px; } }
  .nav__item:hover {
    border-radius: 8px;
    background-color: var(--black-10); }
  .nav__link {
    color: var(--grey-75); }
    @media screen and (min-width: 1920px) {
      .nav__link {
        font-size: 18px; } }
  .nav__btn-container {
    display: none; }
    @media screen and (min-width: 1440px) {
      .nav__btn-container {
        display: flex;
        align-items: center;
        gap: 14px; } }
    @media screen and (min-width: 1920px) {
      .nav__btn-container {
        gap: 30px; } }
  .nav__btn-search, .nav__btn-notification {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    border: none; }
    @media screen and (min-width: 1920px) {
      .nav__btn-search, .nav__btn-notification {
        width: 34px;
        height: 34px; } }
  .nav__mobile-open {
    width: 48px;
    height: 48px;
    border-radius: 6px;
    padding: 0;
    background-color: var(--black-10);
    border: 3px solid var(--black-15); }
    @media screen and (min-width: 1440px) {
      .nav__mobile-open {
        display: none; } }

.hero {
  position: relative;
  max-width: 390px;
  margin: auto; }
  @media screen and (min-width: 1440px) {
    .hero {
      min-width: 1440px; } }
  @media screen and (min-width: 1920px) {
    .hero {
      min-width: 1920px; } }
  .hero__fadeouttop {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 390px;
    height: 324px;
    background: linear-gradient(180deg, #141414, rgba(20, 20, 20, 0) 100%); }
    @media screen and (min-width: 1440px) {
      .hero__fadeouttop {
        width: 1440px;
        height: 581px; } }
    @media screen and (min-width: 1920px) {
      .hero__fadeouttop {
        width: 1920px;
        height: 581px; } }
  .hero__fadeoutbottom {
    position: absolute;
    z-index: 2;
    top: 176px;
    width: 390px;
    height: 444px;
    background: linear-gradient(180deg, rgba(20, 20, 20, 0), #141414 90%); }
    @media screen and (min-width: 1440px) {
      .hero__fadeoutbottom {
        width: 1440px;
        height: 581px;
        top: 118px; } }
    @media screen and (min-width: 1920px) {
      .hero__fadeoutbottom {
        width: 1920px;
        height: 651px;
        top: 279px; } }
  .hero__posters {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow: hidden; }
    @media screen and (min-width: 1920px) {
      .hero__posters {
        gap: 20px; } }
  .hero__posters-box {
    display: flex;
    gap: 10px; }
    @media screen and (min-width: 1920px) {
      .hero__posters-box {
        gap: 20px; } }
  .hero__posters-box1 {
    display: flex;
    gap: 10px; }
    @media screen and (min-width: 1920px) {
      .hero__posters-box1 {
        gap: 20px; } }
  .hero__posters-box2 {
    display: flex;
    gap: 10px; }
    @media screen and (min-width: 1920px) {
      .hero__posters-box2 {
        gap: 20px; } }
  .hero__posters-box3 {
    display: flex;
    gap: 10px; }
    @media screen and (min-width: 1920px) {
      .hero__posters-box3 {
        gap: 20px; } }
  .hero__posters-img {
    width: 134px;
    border: 1px solid black;
    border-radius: 12px; }
    @media screen and (min-width: 1440px) {
      .hero__posters-img {
        width: 151px; } }
    @media screen and (min-width: 1920px) {
      .hero__posters-img {
        width: 196px; } }
  .hero__title {
    position: absolute;
    z-index: 5;
    top: 480px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (min-width: 1440px) {
      .hero__title {
        padding: 0 150px;
        top: 599px; } }
    @media screen and (min-width: 1920px) {
      .hero__title {
        padding: 0 412px;
        top: 796px; } }
  .hero__name {
    color: var(--absolute-white);
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    line-height: 150%; }
    @media screen and (min-width: 1440px) {
      .hero__name {
        font-size: 48px; } }
    @media screen and (min-width: 1920px) {
      .hero__name {
        font-size: 58px; } }
  .hero__description {
    color: var(--grey-60);
    text-align: center;
    line-height: 150%;
    margin-top: 10px; }
    @media screen and (min-width: 1920px) {
      .hero__description {
        font-size: 18px;
        margin-top: 14px; } }
  .hero__description-more {
    display: none; }
    @media screen and (min-width: 1440px) {
      .hero__description-more {
        display: block; } }
    @media screen and (min-width: 1920px) {
      .hero__description-more {
        display: block; } }
  .hero__btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 30px;
    padding: 14px 24px;
    border-radius: 8px;
    color: var(--absolute-white);
    background-color: var(--red-45);
    font-family: Manrope;
    font-size: 14px;
    font-weight: 600;
    line-height: 150%; }
    @media screen and (min-width: 1440px) {
      .hero__btn {
        margin-top: 40px; } }
    @media screen and (min-width: 1920px) {
      .hero__btn {
        margin-top: 50px;
        gap: 8px;
        padding: 18px 24px;
        font-size: 18px; } }
  @media screen and (min-width: 1920px) {
    .hero__btn-icon {
      width: 28px;
      height: 28px; } }

.categories {
  max-width: 390px;
  margin: auto;
  padding: 180px 16px 10px 16px; }
  @media screen and (min-width: 1440px) {
    .categories {
      min-width: 1440px;
      padding: 287px 80px 60px 80px; } }
  @media screen and (min-width: 1920px) {
    .categories {
      min-width: 1920px;
      padding: 287px 162px 75px 162px; } }
  @media screen and (min-width: 1440px) {
    .categories__title {
      display: flex;
      justify-content: space-between; } }
  .categories__title-name {
    color: var(--absolute-white);
    font-size: 24px;
    font-weight: 700;
    line-height: 150%; }
    @media screen and (min-width: 1440px) {
      .categories__title-name {
        font-size: 28px; } }
    @media screen and (min-width: 1920px) {
      .categories__title-name {
        font-size: 38px; } }
  .categories__title-description {
    margin-top: 8px;
    color: var(--grey-60);
    line-height: 150%; }
    @media screen and (min-width: 1440px) {
      .categories__title-description {
        font-size: 16px;
        margin-top: 10px; } }
    @media screen and (min-width: 1920px) {
      .categories__title-description {
        font-size: 18px;
        margin-top: 14px; } }
  .categories__title-btns {
    display: none; }
    @media screen and (min-width: 1440px) {
      .categories__title-btns {
        display: flex;
        align-items: center;
        padding: 12px;
        gap: 12px;
        background-color: var(--black-06);
        border-radius: 10px;
        border: 1px solid #1f1f1f; } }
    @media screen and (min-width: 1920px) {
      .categories__title-btns {
        padding: 16px;
        gap: 16px;
        border-radius: 12px; } }
  .categories__btn-prev, .categories__btn-next {
    cursor: pointer;
    width: 44px;
    height: 44px;
    border-radius: 6px;
    border: 1px solid #1f1f1f;
    background: #1a1a1a; }
    @media screen and (min-width: 1920px) {
      .categories__btn-prev, .categories__btn-next {
        width: 56px;
        height: 56px; } }
  @media screen and (min-width: 1920px) {
    .categories__btn-icon {
      width: 28px;
      height: 28px; } }
  .categories__list {
    margin-top: 40px;
    display: flex;
    gap: 20px; }
    @media screen and (min-width: 1440px) {
      .categories__list {
        margin-top: 60px; } }
    @media screen and (min-width: 1920px) {
      .categories__list {
        margin-top: 80px;
        gap: 30px; } }
  .categories__item {
    padding: 20px;
    background: #1a1a1a;
    border-radius: 10px;
    border: 1px solid #262626; }
    @media screen and (min-width: 1440px) {
      .categories__item {
        padding: 24px; } }
    @media screen and (min-width: 1920px) {
      .categories__item {
        padding: 30px;
        border-radius: 12px; } }
  .categories__item:nth-child(n+3) {
    display: none; }
    @media screen and (min-width: 1440px) {
      .categories__item:nth-child(n+3) {
        display: block; } }
  .categories__img {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 5px; }
  .categories__film-fade {
    position: absolute;
    width: 128px;
    height: 135px;
    background: linear-gradient(180deg, rgba(26, 26, 26, 0), #1a1a1a 101.786%); }
    @media screen and (min-width: 1440px) {
      .categories__film-fade {
        width: 190px;
        height: 202px; } }
    @media screen and (min-width: 1920px) {
      .categories__film-fade {
        width: 233px;
        height: 249px; } }
  .categories__film-img {
    width: 61px;
    border-radius: 6px; }
    @media screen and (min-width: 1440px) {
      .categories__film-img {
        width: 92px; } }
    @media screen and (min-width: 1920px) {
      .categories__film-img {
        width: 114px;
        border-radius: 10px; } }
  .categories__item-title {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .categories__item-name {
    color: var(--absolute-white);
    font-weight: 600;
    line-height: 150%; }
    @media screen and (min-width: 1440px) {
      .categories__item-name {
        font-size: 16px; } }
    @media screen and (min-width: 1920px) {
      .categories__item-name {
        font-size: 16px; } }
  @media screen and (min-width: 1440px) {
    .categories__item-icon {
      width: 24px;
      height: 24px; } }
  @media screen and (min-width: 1920px) {
    .categories__item-icon {
      width: 30px;
      height: 30px; } }

.devices {
  max-width: 390px;
  margin: auto;
  padding: 40px 16px; }
  @media screen and (min-width: 1440px) {
    .devices {
      min-width: 1440px;
      padding: 60px 80px; } }
  @media screen and (min-width: 1920px) {
    .devices {
      min-width: 1920px;
      padding: 75px 162px 75px 162px; } }
  .devices__list {
    display: flex;
    flex-direction: column;
    gap: 20px; }
    @media screen and (min-width: 1440px) {
      .devices__list {
        flex-direction: inherit;
        flex-wrap: wrap; } }
    @media screen and (min-width: 1920px) {
      .devices__list {
        gap: 30px; } }
  .devices__item {
    border: 1px solid #262626;
    border-radius: 10px;
    background: linear-gradient(229.83deg, rgba(229, 0, 0, 0.5) -226.884%, rgba(229, 0, 0, 0) 38.033%), #0f0f0f;
    padding: 24px; }
    @media screen and (min-width: 1440px) {
      .devices__item {
        width: 413px;
        padding: 40px; } }
    @media screen and (min-width: 1920px) {
      .devices__item {
        width: 512px;
        padding: 50px; } }
  .devices__title {
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    text-align: left;
    margin-bottom: 10px; }
    @media screen and (min-width: 1440px) {
      .devices__title {
        font-size: 28px;
        font-weight: 700; } }
    @media screen and (min-width: 1920px) {
      .devices__title {
        font-size: 38px;
        font-weight: 700; } }
  .devices__title-description {
    color: #999999;
    line-height: 150%;
    text-align: left;
    margin-bottom: 40px; }
    @media screen and (min-width: 1440px) {
      .devices__title-description {
        font-size: 16px; } }
    @media screen and (min-width: 1920px) {
      .devices__title-description {
        font-size: 18px; } }
  .devices__item-title {
    display: flex;
    align-items: center;
    gap: 10px; }
  .devices__icon-thumb {
    width: 44px;
    height: 44px;
    border: 1px solid #1f1f1f;
    border-radius: 8px;
    background: #141414;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media screen and (min-width: 1440px) {
      .devices__icon-thumb {
        width: 54px;
        height: 54px; } }
    @media screen and (min-width: 1920px) {
      .devices__icon-thumb {
        width: 72px;
        height: 72px; } }
  .devices__icon {
    width: 24px;
    height: 24px; }
    @media screen and (min-width: 1440px) {
      .devices__icon {
        width: 30px;
        height: 30px; } }
    @media screen and (min-width: 1920px) {
      .devices__icon {
        width: 40px;
        height: 40px; } }
  .devices__name {
    color: white;
    font-size: 18px;
    font-weight: 600; }
  .devices__description {
    color: #999999;
    line-height: 150%;
    letter-spacing: 0%;
    margin-top: 20px; }
    @media screen and (min-width: 1440px) {
      .devices__description {
        font-size: 16px; } }
    @media screen and (min-width: 1920px) {
      .devices__description {
        font-size: 18px; } }

/*# sourceMappingURL=main.css.map */
