body {
    margin: 0;
    font-family: Manrope, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    background-color: var(--black-08);
}
:root {
    --font-family: "Manrope", sans-serif;
    --second-family: "Archivo", sans-serif;
    --third-family: "Inter", sans-serif;

    --absolute-white: #fff;
    --absolute-black: #000;
    --red-45: #e50000;
    --red-50: #f00;
    --red-55: #ff1a1a;
    --red-60: #f33;
    --red-80: #f99;
    --red-90: #fcc;
    --red-95: #ffe5e5;
    --red-99: #fffafa;
    --black-06: #0f0f0f;
    --black-08: #141414;
    --black-10: #1a1a1a;
    --black-12: #1f1f1f;
    --black-15: #262626;
    --black-20: #333;
    --black-25: #404040;
    --black-30: #4d4d4d;
    --grey-60: #999;
    --grey-65: #a6a6a6;
    --grey-70: #b3b3b3;
    --grey-75: #bfbfbf;
    --grey-90: #e4e4e7;
    --grey-95: #f1f1f3;
    --grey-97: #f7f7f8;
    --grey-99: #fcfcfd;
}
section {
    background-color: var(--black-08);

}
main {

    @media screen and (min-width: 390px) {
        min-width: 390px;
        margin: auto;
    }
    @media screen and (min-width: 1440px) {
        min-width: 1440px;    
    }
    @media  screen and (min-width: 1920px) {
        min-width: 1920px;        
    }
}

p {
    margin: 0;
}

a {
    list-style-type: none;
    text-decoration: none;
    font-style: normal;
}

address {
    text-decoration: none;
    font-style: normal;
}

li {
    text-decoration: none;
    list-style-type: none;
}

ul {
    margin: 0;

    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
button {
    padding: 0;
}




.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

@keyframes shake3856 {
    0% {
    -webkit-transform: translate(0);
    transform: translate(0);
    }
    20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
    }   
    40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
    }   
    60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
    }   
    80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
    }   
    100% {
    -webkit-transform: translate(0);
    transform: translate(0);
    }
}