.devices {
    max-width: 390px;
    margin: auto;
    padding: 40px 16px;
        @media screen and (min-width: 1440px) {
            min-width: 1440px;
            padding: 60px 80px;
        }        
        @media screen and (min-width: 1920px) {
            min-width: 1920px;
            padding: 75px 162px 75px 162px;
        }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media screen and (min-width: 1440px) {
            flex-direction: inherit;
            flex-wrap: wrap;
        }
        @media screen and (min-width: 1920px) {
            gap: 30px;
        }
    }
    &__item{
        border: 1px solid rgb(38, 38, 38);
        border-radius: 10px;
        background: linear-gradient(229.83deg, 
        rgba(229, 0, 0, 0.5) -226.884%, 
        rgba(229, 0, 0, 0) 38.033%), 
        rgb(15, 15, 15);
        padding: 24px;
        // max-width: 361px;
            @media screen and (min-width: 1440px) {
                width: 413px;
                padding: 40px;
            }
            @media screen and (min-width: 1920px) {
                width: 512px;
                padding: 50px;
            }
    }
    &__title{
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 700;
        line-height: 150%;
        text-align: left;
        margin-bottom: 10px;
            @media screen and (min-width: 1440px) {
                font-size: 28px;
                font-weight: 700;
            }
            @media screen and (min-width: 1920px) {
                font-size: 38px;
                font-weight: 700;
            }
    }
    &__title-description{
        color: rgb(153, 153, 153);
        line-height: 150%;
        text-align: left;
        margin-bottom: 40px;
            @media screen and (min-width: 1440px) {
            font-size: 16px;
            }
            @media screen and (min-width: 1920px) {
            font-size: 18px;
            }   
    }
    &__item-title{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__icon-thumb{
        width: 44px;
        height: 44px;
        border: 1px solid rgb(31, 31, 31);
        border-radius: 8px;
        background: rgb(20, 20, 20);
        display: flex;
        justify-content: center;
        align-items: center;
            @media screen and (min-width: 1440px) {
                width: 54px;
                height: 54px;
            }
                @media screen and (min-width: 1920px) {
                width: 72px;
                height: 72px;
            }
    }
    &__icon{
        width: 24px;
        height: 24px;
            @media screen and (min-width: 1440px) {
                width: 30px;
                height: 30px;
            }
            @media screen and (min-width: 1920px) {
                width: 40px;
                height: 40px;
            }   
    }
    &__name{
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 600;
    }
    &__description{
        color: rgb(153, 153, 153);
        line-height: 150%;
        letter-spacing: 0%;
        margin-top: 20px;
            @media screen and (min-width: 1440px) {
                font-size: 16px;
            }
            @media screen and (min-width: 1920px) {
                font-size: 18px;
            }   
    }
}